.data {
  background: white;
  margin: 5px;
  border: 1px solid black;
  border-radius: 2px;
  padding: var(--padding-sm);
}

.data.bool {
  border-left: 5px solid black;
}

.data h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
